/*
Version: 1.0
Description: Remote CSS for WordCamp Ahmedabad
Author: Chetan Prajapati
Author URI: https://www.chetanprajapati.com
*/

/*** Common ***/

body.home{
	border: 10px solid #000;
	padding-top: 50px;
}


